# ---------------------------------------------
#   ENTORNOS VIRTUALES
# ---------------------------------------------
venv/
.venv/
env/
ENV/

# ---------------------------------------------
#   ARCHIVOS PYTHON COMPILADOS / CACHE
# ---------------------------------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd

# ---------------------------------------------
#   ARCHIVOS DE LOG Y TEMPORALES
# ---------------------------------------------
*.log
*.tmp
*.temp
*.swp
*.swo

# ---------------------------------------------
#   CONFIGURACIONES LOCALES DE EDITORES
# ---------------------------------------------
.vscode/
.idea/
*.iml

# ---------------------------------------------
#   CONFIGURACIONES PRIVADAS / VARIABLES DE ENTORNO
# ---------------------------------------------
.env
*.env
.env.*

# ---------------------------------------------
#   ARCHIVOS DE SISTEMA
# ---------------------------------------------
.DS_Store
Thumbs.db

# ---------------------------------------------
#   DIRECTORIOS DE COMPILACIÓN Y DISTRIBUCIÓN
# ---------------------------------------------
build/
dist/
*.egg-info/
.eggs/

# ---------------------------------------------
#   JUPYTER NOTEBOOK
# ---------------------------------------------
.ipynb_checkpoints/

# ---------------------------------------------
#   OTROS
# ---------------------------------------------
*.bak
*.old
